<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SNS App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>

  <div class="root">

    <!--サイトタイトル-->
    <h1>PythonでSNS App</h1>

    <!--エラー表示 -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger">
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
      {% endif %}
    {% endwith %}

    <!--投稿フォーム-->
    <div class="form">
      <h2>投稿フォーム</h2>
      <form action="/post" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input name="body" type="text" placeholder="投稿内容を記入しよう" class="form-control">
        </div>
        <div class="form-group">
          <input name="file" type="file" class="form-control-file">
        </div>
        <input type="submit" value="投稿する" class="btn btn-primary">
      </form>
    </div>

    <!--投稿一覧-->
    <div class="posts">
      <h2>投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>画像</th>
            <th>本文</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr>
              <td><img src="/static/posts/{{ post.get("filename") }}" alt=""></td>
              <td>{{ post.get("body") }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div> <!--/.root-->

</body>
</html>